@using Microsoft.AspNetCore.Identity
@using AppScheduler_v1.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated){
    @if (User.IsInRole("Admin"))
    {
        await Html.RenderPartialAsync("Admin");
    }
    else if (User.IsInRole("Patient"))
    {
        await Html.RenderPartialAsync("Patient");
    }
    else{
        await Html.RenderPartialAsync("Doctor");
    }
}
else{
    <h1>HI, GUEST!</h1>
}

